@media (max-width:1350px) {
  .content-width{
    width: 960px;
  }
  .top-line .logo-wrap{
    width: 200px;
    img{
      width: 100%;
    }
  }
  .top-menu{
    width: calc(100% - 250px);
    padding-left: 0;
  }
  .info-number .content-number .h6{
    font-size: 34px;
    display: flex;
  }
  .title-text-img .bg .wrap{
    left: -55px;
    top: -40px;
    img{
      width: 250px;
    }
  }
  .title-text-img .content .item{
    width: 300px!important;
  }
  .title-text-img .content .item p{
    font-size: 14px;
  }
  .title-text-img .content .item p.h6{
    font-size: 20px;
  }
  .title-text-img .content .item-1{
    left: -25px;
  }
  .title-text-img .content .item-3{
    left: 20px;
  }
  .title-text-img .content .item-2{
    right: -25px;
  }
  .title-text-img .content .item-4{
    right: 30px;
  }
  h2, .h2 {
    font-size: 36px;
  }
  .service .content .item a{
    height: 300px;
  }
  .img-text .item figure .list ul li{
    font-size: 14px;
    padding-left: 30px;
  }
  .img-text .item figure .list ul li:before{
    content: '';
    width: 20px;
    height: 20px;
    background: url("../img/icon-7.svg")no-repeat center;
    background-size: contain;
  }
  .img-text .item figure .wrap{
    width: 40px;
    height: 40px;
  }
  .img-text .item figure .info p{
    font-size: 14px;
    line-height: normal;
  }
  .img-text .item figure .info .h6{
    font-size: 24px;
    line-height: normal;
    margin-top: 1px;
  }
  .img-text .item figure .icon-wrap{
    width: fit-content!important;
    padding: 10px;
    align-items: center;
  }
  .img-text .item figure .info {
    width: calc(100% - 40px);
    min-width: fit-content;
    padding-left: 20px;
  }
  .img-text .item figure .list ul li{
    margin-bottom: 5px;
  }
  .partners .content {
    grid-template-columns: repeat(5, 1fr);
  }
  footer .logo-wrap{
    width: 170px;
    display: flex;
    align-items: center;
  }
  footer .footer-menu {
    width: calc(100% - 200px);
  }
  .form-subscribe {
    width: 300px;
    .btn-default{
      padding: 0 15px;
    }
  }
  .form-subscribe input{
    padding: 0 130px 0 12px;
  }
  footer .footer-menu ul li {
    margin-right: 15px;
  }
  .info-number .content-number .item-4 .h6 span {
    width: 70px;
  }
  .info-number .content-number .item-5 .h6 span {
    width: 49px;
  }
}

@media (max-width:991px) {
  .content-width{
    width: 720px;
  }
  .open-menu{
    display: inline-block;
    margin:8px 0 0 30px;
    a{
      display: flex;
      flex-direction: column;
      width: 36px;
      height: 36px;
      span{
        display: block;
        width: 100%;
        height: 3px;
        background: #012854;
      }
      span + span{
        margin-top: 6px;
      }
    }
  }
  .menu-responsive {
    width: 100%;
    background: #fff;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    right: -100vw;
    top: 0;
    transition: all .4s ease;
    .wrap{
      padding: 75px 0 65px;
      width: 300px;
      margin: auto;
    }
    .close-menu{
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      img{
        vertical-align: top;
        width: 100%;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
      }
    }
    .fancybox-close-small{
      display: none;
    }
    .btn-wrap{
      text-align: center;
      display: none;
    }
    .mob-menu{
      margin-bottom: 34px;
      &>ul{
        &>li{
          margin-bottom: 18px;
          text-align: center;
          &>a{
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: #012854;
            text-align: center;
          }
        }

        li:last-child{
          margin-bottom: 0;
        }
      }
    }
    .logo-wrap{
      width: 200px;
      margin:0 auto 30px;
      img{
        vertical-align: top;
        width: 100%;
      }
    }
  }
  .is-menu .menu-responsive{
    right: 0;
  }
  .top-menu > ul{
    display: none;
  }
  .top-menu{
    justify-content: flex-end;
  }
  h1{
    font-size: 34px;
  }
  .info-number .content-number ul li{
    width: 33.33%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .info-number .content-number ul .item-4, .info-number .content-number ul .item-5{
    width: 48%;
    margin-bottom: 0;
  }
  .info-number .info{
    width: 60%;
  }
  .info-number .title{
    width: 38%;
  }
  .title-text-img .top{
    width: 100%;
  }
  .title-text-img .content figure img{
    max-width: 100%;
  }
  .title-text-img .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -100px;
  }
  .title-text-img .content .item{
    position: relative;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    width: 49% !important;
  }
  .title-text-img{
    padding-bottom: 10px;
  }
  .item-3n .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .service .content .item a .text .h3{
    font-size: 20px;
  }
  .service .content .item a .text{
    bottom: 20px;
    left: 20px;
  }
  .service .content .item a .icon{
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20px;
  }
  .service .content .item a{
    height: 250px;
  }
  .img-text .item figure{
    width: 400px;
    margin: 0 auto 30px;
  }
  .img-text .item .text{
    width: 100%;
  }
  .partners .content {
    grid-template-columns: repeat(4, 1fr);
  }
  .item-3n .top{
    width: 100%;
  }
  .service .content .item{
    margin-bottom: 15px;
  }
  footer .footer-menu{
    width: 100%;
    margin-top: 20px;
  }
  footer .logo-wrap{
    margin: auto;
  }
  footer .footer-menu ul{
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .form-subscribe {
    width: 350px;
    margin: auto;
  }
  footer .form-wrap{
    margin: auto;
  }
  footer .bottom{
    text-align: center;
    p{
      text-align: center;
    }
  }
  .info-number .content-number p{
    text-align: center;
  }
  .info-number .content-number ul li{
    justify-content: flex-start;
  }
  .top-menu .nice-select{
    top: 0;
  }
}

@media (max-width:767px) {
  .content-width{
    width: 540px;
  }
  .service .content .item a {
    height: 200px;
  }
  .partners .content {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-form-block .content{
    width: 100%;
  }
}

@media (max-width:575px) {
  .content-width{
    width: 100%;
    padding: 0 10px;
  }
  .top-line .content-width{
    width: calc(100% - 20px);
    margin-left: 10px;
    padding: 5px 10px;
  }
  .top-line .logo-wrap{
    width: 150px;
    position: relative;
    top: 2px;
  }
  .open-menu a{
    width: 30px;
  }
  .open-menu{
    margin: 10px 0 0 25px;
    position: relative;
    top: 2px;
  }
  .top-menu .nice-select:after{
    right: 10px;
  }
  .top-menu .nice-select{
    padding-right: 25px;
  }
  .info-number .title{
    width: 100%;
    margin-bottom: 15px;
  }
  .info-number .info{
    width: 100%;
  }
  .info-number .content-number ul .item-4, .info-number .content-number ul .item-5 {
    width: 100%;
    margin-bottom: 10px;
  }
  .title-text-img .bg .wrap img {
    width: 200px;
  }
  .title-text-img .content .item{
    width: 100%!important;
    top: -20px;
  }
  .title-text-img .content{
    margin-bottom: -20px;
  }
  .img-text .item figure{
    width: 250px;
    padding: 0;
    text-align: center;
  }
  .img-text .item figure .icon-wrap{
    top: 20px;
  }
  .img-text .item figure .list{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto 0;
    padding: 0;
  }
  .img-text .item figure .list ul li{
    text-align: left;
  }
  .partners .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 15px 0;
    .item{
      width: 48%;
    }
  }
  .contact-form-block, footer{
    margin: 0 15px;
  }
  .contact-form-block .content-width{
    padding: 30px 20px;
  }
  footer .content{
    padding: 30px 20px;
  }
  .form-subscribe{
    width: 100%;
  }
  footer .footer-menu ul{
    flex-wrap: wrap;
    li{
      margin-bottom: 10px;
    }
  }
}